<div class="flex items-center justify-between mt-2 mx-7">
  <div class="flex items-center justify-between w-[400px]">
    <a href="/" class="font-bold text-3xl text-blue-600">SAMAKAKI</a>
    <select class="text-gray-600 text-sm rounded-full block w-[180px] p-2.5 bg-gray-200 font-bold">
      <option value="Warsaw">Warsaw</option>
      <option value="Warsaw">Gdansk</option>
      <option value="Warsaw">Poznan</option>
    </select>
  </div>
  <div class="flex items-center justify-between w-[200px]">
    <a href="#" class="font-bold text-blue-600 px-1 py-1 custom-underline">Sign Up</a>
    <a href="#" class="font-bold bg-blue-600 text-center px-6 py-2 text-white rounded-2xl hover:shadow-blue-800 hover:shadow-lg transition-shadow">Sign In</a>
  </div>
</div>
<router-outlet></router-outlet>
